.container {
  padding: 50px 30px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  background-image: url("../../assets/background.svg");
  /* background-color: rgb(238, 252, 255); */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.heading {
  margin: 0 auto;
  font-family: 'Lora', serif;
  max-width: 500px;
  color: #000;
  font-size: 3.1rem;
  line-height: 4.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading span {
  background-clip: text;

  background-image: linear-gradient(to right, #239ce2, #1369b9);
  color: transparent;
}

.right img {
    /* width: 80%;  */
    max-width: 100%;
    height: auto;
  }

@media (max-width: 767px) {
  .container {
    width: 100dvh;
    display: flex;
    flex-direction: column;
  }

  .heading {
    margin: 0 auto;
    font-family: 'Lora', serif;
    max-width: 750px;
    color: #000;
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

}

/* For screens with a minimum width of 768px and a maximum width of 1023px (e.g., tablets) */
/* @media (min-width: 768px) and (max-width: 1023px) {
  .container {

    flex-direction: row;
  }

  .left,
  .right {
    width: 50%;
    text-align: center;
  }

  .right {
    margin-top: 0;
  }

} */

/* For screens with a minimum width of 1024px (e.g., desktops) */
/* @media (min-width: 1024px) {
  .container {
    width: 100dvh;
    flex-direction: row;
  }

  .left,
  .right {

    width: 50%;
  }

  .right {
    text-align: right;
    margin-top: 0;
  }
} */