.resume-builder {
    margin: auto;
}

h1 {
    width: 100%;
    font-size: 4rem;
    font-family: 'Lora', serif;
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .resume-builder, .heading1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}